{
    "presets": [
        ["@babel/preset-env", {
            "modules": false,
            "targets": {
                "node": "8.11.3"
            }
        }]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-transform-dotall-regex"
    ]
}
